<h1>APIM Sign In</h1>
<form action="/signIn" method="post">
    <label for="email">Email</label>
    <input id="email" name="email" type="email"/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
    <input type="submit" name="signIn" value="Sign in"/>
    <input type="hidden" name="operation" value="<%= signUpSignInRequest.operation %>"/>
    <input type="hidden" name="returnUrl" value="<%= signUpSignInRequest.returnUrl %>"/>
    <input type="hidden" name="salt" value="<%= signUpSignInRequest.salt %>"/>
    <input type="hidden" name="sig" value="<%= signUpSignInRequest.sig %>"/>
</form>
<p><%= errorMessage %> </p>